.App {
  margin-top: 0px;
  background-color: #ecf0f1;
}


.navbar-default{
  background-color: #34495E;
  border-radius: 0%;
  border-width: 0ch;
  padding: 0px;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #F44336; /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > li > a {
  color: white; /*Change active text color here*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
        a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background: #F44336;   
}
.navbar-nav > li > a {
  /* (80px - line-height of 27px) / 2 = 26.5px */
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  line-height: 20px;
}
.navbar-brand {
  display: flex;
  align-items: center; 
  margin: 10px;
}
.navbar-brand>img {
  padding: 14px 14px;
}

